{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| Applastic</title>

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="text-gray-800 mt-24">
    <header class="container max-w-full inset-0 flex justify-between px-6 h-16 border-b border-gray-300 fixed bg-white">
        <div class="flex items-center">
            <a href="{% url 'apps:home' %}" class="mr-2">
                <img class="w-32" src="https://user-images.githubusercontent.com/83692497/164974621-8c74c74f-f20f-4e1c-a88d-2e9ab3e145ea.png" />
            </a>

            <!-- 메인 페이지(home.html)를 제외하고, 모든 페이지 헤더에 검색창을 두기 위함 -->
            {% block search-bar %}
                <form method="get" action="{% url 'apps:search' %}">
                    <input name="q" class="border border-gray-300 w-72 px-4 py-1.5 text-md font-medium placeholder-gray-400 rounded-full shadow-sm hover:shadow-md transition hover:duration-150 focus:outline-none focus:border-gray-300 focus:ring-gray-300" placeholder="Search By App" />
                </form>
            {% endblock search-bar %}
        </div>
        {% include "partials/nav.html"%}
    </header>

    {% block content %}{% endblock %}
    
    {% include "partials/footer.html"%}
</body>
</html>