{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| Applastic</title>

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body>
    <header>
        {% include "partials/nav.html"%}
        <!-- 메인 페이지(home.html)를 제외하고, 모든 페이지 헤더에 검색창을 두기 위함 -->
        {% block search-bar %}
            <form method="post" action="{% url 'apps:search' %}">
                {% csrf_token %}
                <div>
                <p>
                    <label for="app_name">Search for</label>
                    <input name="searched" placeholder="app name or keyword" />
                </p>
                </div>
            </form>
        {% endblock search-bar %}
    </header>

    {% block content %}{% endblock %}
    
    {% include "partials/footer.html"%}
</body>
</html>