{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Applastic</h2>
        
    <form method="get" action="{% url "apps:home" %}">
        <div>
        <p>
            <label for="app_name">App</label>
            <input value="{{app}}" id="app" name="app" placeholder="Search by app name" />
        </p>
        </div>

        <!-- tag 처리 -->
        <div>
            <!-- {% for genre in genre_types %} -->
                <!-- <button type="button">{{ genre }}</button>
            {% endfor %} -->
            <a href="{% url 'apps:tag' '소셜 네트워킹' %}">
                <button type="button">소셜 네트워킹</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '생산성' %}">
                <button type="button">생산성</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '게임' %}">
                <button type="button">게임</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '라이프 스타일' %}">
                <button type="button">라이프 스타일</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '사진 및 비디오' %}">
                <button type="button">사진 및 비디오</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '엔터테인먼트' %}">
                <button type="button">엔터테인먼트</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '유틸리티' %}">
                <button type="button">유틸리티</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '금융' %}">
                <button type="button">금융</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '비즈니스' %}">
                <button type="button">비즈니스</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '음식 및 음료' %}">
                <button type="button">음식 및 음료</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '롤플레잉' %}">
                <button type="button">롤플레잉</button>
            </a>
        </div>
        <div>
            <a href="{% url 'apps:tag' '시뮬레이션' %}">
                <button type="button">시뮬레이션</button>
            </a>
        </div>

    </form>


{% endblock content %}