{% extends "base.html" %}

{% block page_title %}
    Apps
{% endblock page_title %}

{% block content %}

    {% if page %}
        <h5>태그명: {{tag}}</h5>

        {% for app in page %}
            <ul>
                <a href="{% url "apps:detail" app.id %}">  <!-- url tag, "url의 namespace:경로의 name" argument(<str:id>) -->
                    {{ app.trackName }}
                </a>
            </ul>
        {% endfor %}
    {% endif %}


    <!-- pagination -->
    <h5>
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page.number}} of {{page.paginator.num_pages}}

    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}">Next</a>
    {% endif %}
    </h5>


{% endblock %}
