{% extends "base.html" %}

{% block page_title %}
    Apps
{% endblock page_title %}

{% block content %}

    {% for app in page %}
    <p>
        <div>
          <div>
            <h5>
              <a href="{% url "apps:detail" app.id %}">  <!-- url tag, "url의 namespace:경로의 name" argument(<str:id>) -->
                {{ app.trackName }}
              </a>>
            </h5><br>
            <p>장르: {{ app.genres }}&emsp;&emsp;버전: {{ app.version }}&emsp;&emsp;차필드: {{ app.ChartField }}</p>
    
          </div>
        </div>
    </p>
    {% endfor %}

    <!-- pagination -->
    <h5>
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page.number}} of {{page.paginator.num_pages}}

    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}">Next</a>
    {% endif %}
    </h5>


{% endblock %}
