{% extends "base.html" %}

{% block page_title %}
    Apps
{% endblock page_title %}

{% block content %}
    <!-- DATA 메뉴 - 모든 앱 리스트 -->
    <div class="container max-w-full">
        {% if page %}
            <div class="">
                {% for app in page %}
                    <div class="border border-gray-300 w-36 h-36 mb-2 rounded-3xl" style="background-image: url({{app.artworkUrl60}}); background-repeat: no-repeat; background-size: cover;"></div>
                    <div>
                        <span class="text-sm">
                            <a href="{% url 'apps:detail' app.id %}">{{ app.trackName }}</a> <!-- url tag, "url의 namespace:경로의 name" argument(<str:id>) -->
                        </span>
                    </div>
                    <span class="text-sm font-weight:800 flex items-center">
                        <img class="w-4 h-4 text-red-800 mr-1" src="https://user-images.githubusercontent.com/83692497/165233199-6a088ecb-a25f-4bde-ab9d-d6326e458073.svg"> {{app.Ranking}}
                    </span>
                {% endfor %}
            </div>

            <!-- pagination -->
            <div class="flex items-center">
                {% if page.has_previous %}
                    <a href="?page={{page.previous_page_number}}"><i class="fas fa-arrow-left fa-lg"></i></a>
                {% endif %}

                <span class="mx-2">Page {{page.number}} of {{page.paginator.num_pages}}</span>

                {% if page.has_next %}
                    <a href="?page={{page.next_page_number}}"><i class="fas fa-arrow-right fa-lg"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </div>    
    


    <!-- SEARCH -->
    {% if keyword %}
        <h2>'{{keyword}}'에 대한 검색결과입니다.</h2>

        {% if no_result %}  <!-- 입력된 검색어의 결과가 없는 경우 -->
            <h1>검색된 결과가 없습니다.<br>검색어를 변경해보세요.</h1>
        {% endif %}

        {% for ans in answer %}
            <ul>
                <a href="{% url 'apps:detail' ans.id %}">  
                    {{ ans.trackName }}
                </a>
            </ul>
        {% endfor %}

        <!-- pagination -->
        {% if not no_result %}  
            
        {% endif %}    
    {% endif %}

    <!-- TAG -->
    {% if data_list %}
        <h5>태그명: {{tag}}</h5>

        {% for data in data_list %}
            <ul>
                <a href="{% url 'apps:detail' data.id %}">
                    {{ data.trackName }}
                </a>
            </ul>
        {% endfor %}

        <!-- pagination -->
        <div class="flex items-center">
            {% if data_list.has_previous %}
                <a href="?page={{data_list.previous_page_number}}"><i class="fas fa-arrow-left fa-lg"></i></a>
            {% endif %}

            <span class="mx-2">Page {{data_list.number}} of {{data_list.paginator.num_pages}}</span>

            {% if data_list.has_next %}
                <a href="?page={{data_list.next_page_number}}"><i class="fas fa-arrow-right fa-lg"></i></a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
