{% extends "base.html" %}

{% block page_title %}
    Apps
{% endblock page_title %}

{% block content %}

    <!-- DATA 메뉴 - 모든 앱 리스트 -->
    {% if page %}
        {% for app in page %}
            <ul>
                {{app.artworkUrl60}}
                <a href="{% url 'apps:detail' app.id %}">  <!-- url tag, "url의 namespace:경로의 name" argument(<str:id>) -->
                    {{ app.trackName }}
                </a>
                {{app.Ranking}}
            </ul>
        {% endfor %}

        <!-- pagination -->
        <h5>
        {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{page.number}} of {{page.paginator.num_pages}}

        {% if page.has_next %}
            <a href="?page={{page.next_page_number}}">Next</a>
        {% endif %}
        </h5>

    {% endif %}


    <!-- SEARCH -->
    {% if keyword %}
        <h2>'{{keyword}}'에 대한 검색결과입니다.</h2>

        {% if no_result %}
            <h1>검색된 결과가 없습니다.<br>검색어를 변경해보세요.</h1>
        {% endif %}

        {% for ans in answer %}
            <ul>
                <a href="{% url 'apps:detail' ans.id %}">  
                    {{ ans.trackName }}
                </a>
            </ul>
        {% endfor %}

        <!-- pagination -->
        <h5>
        {% if answer.has_previous %}
            <a href="?page={{answer.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{answer.number}} of {{answer.paginator.num_pages}}

        {% if answer.has_next %}
            <a href="?page={{answer.next_page_number}}">Next</a>
        {% endif %}
        </h5>
    {% endif %}


    <!-- TAG -->
    {% if data_list %}
        <h5>태그명: {{tag}}</h5>

        {% for data in data_list %}
            <ul>
                <a href="{% url 'apps:detail' data.id %}">
                    {{ data.trackName }}
                </a>
            </ul>
        {% endfor %}

        <!-- pagination -->
        <h5>
        {% if data_list.has_previous %}
            <a href="?page={{data_list.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{data_list.number}} of {{data_list.paginator.num_pages}}

        {% if data_list.has_next %}
            <a href="?page={{data_list.next_page_number}}">Next</a>
        {% endif %}
        </h5>
    {% endif %}

{% endblock %}
