{% extends "base.html" %}

{% block page_title %}
    {{app.trackName}}
{% endblock page_title %}

{% block content %}

    <!-- 앱 상세 페이지 -->
    <div class="border border-gray-300 w-36 h-36 mb-2 rounded-3xl" style="background-image: url({{app.artworkUrl60}}); background-repeat: no-repeat; background-size: cover;"></div>
    {{app.trackName}}
    {{app.Ranking}}
    {{app.price}}
    <h3>장르</h3>
    <ul>
        {% for genre in app.genres %}
        <li>{{genre}}</li>
        {% endfor %}
    </ul>
        
    {{app.description}}
{% endblock content %}