{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Search!</h2>
    
    <form method="get" action="{% url "apps:search" %}">
        <div>
            <label for="app_name">App</label>
            <input value="{{app}}" id="app" name="app" placeholder="Search by app name" />
        </div>

        <div>
            <label for="genre">Genre</label>
        </div>
    </form>


{% endblock content %}